/* generics */

*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
    
}

/* body */



header{
    height: 100px;
    margin-bottom: 10px;
    background-color: #E579E6 ;
   
}

.contenuto-extra{
    margin-bottom: 10px;
    height: 500px;
    background-color:#E1D67A ;
}

/* main */

.header{
    margin-bottom: 10px;
    height: 100px;
    background-color: #ABCFE7;
}

.side-bar{
    width: 25%;
    height: 500px;
    background-color:#ABCFE7;
    float: left;
   
    
}


.main-content{
    width: calc(50% - 30px);
    margin: 0 15px;
    height: 500px;
    background-color:#ABCFE7;
    float: left;
    
   
}

/* footer */

footer{
    margin-top: 10px;
    height: 100px;
    background-color: #8801FE;
}